@import "../../helpers/mixins.sass"

.PlaylistTitle
  color: $COLOR__LIGHT_TEXT
  font-size: 1.5em
  margin: 0 auto
  text-align: center
  padding: 1.05em 0
  width: 100%
  border-bottom: 1px solid $COLOR__CLEAR_TEXT

  +at-hd-desktop()
    font-size: 1.8em
    padding: .8em 0
    width: 90%
