@import "../../helpers/mixins.sass"

.PlaylistTitle
  color: $COLOR__LIGHT_TEXT
  margin: 0 auto
  font-size: 1.5em
  text-align: center
  width: 100%
  border-bottom: 1px solid $COLOR__CLEAR_TEXT
  padding: .5em 0

  +at-desktop()
    text-align: left
    font-size: 1.8em
    padding: .8em 0
    padding-left: .3em

  +at-hd-desktop
    width: 90%
    padding-left: 0
    text-align: center
