@import '../../helpers/mixins'


.MobileContentBlocker
  background: rgba(black, .5)
  height: 100vh
  width: 100vw
  position: absolute
  top: 0
  left: 0
  display: none
  z-index: 1

  &.is-active
    display: block

    +at-desktop()
      display: none
